/**
 * PAGE
 * components/page.scss
 */

.page {
	text-align: center;
	font-size: 1.4rem;

	width: 900px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 2em;

	@media (max-width: 899px) {
		width: 100%;
	}
}

.page-holder {
	height: auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;

	opacity: 0;

	&.is-visible {
		opacity: 1;

		transition: opacity 0.75s 0.8s linear, height 0s 0.75s;
	}

	&.has-search {
		height: calc(100vh - 180px);

		transition: height 1s ease-in-out;
	}
}

.page-header {
	margin-top: 36vh;

	transition: margin-top 0.75s ease-in-out, transform 0.75s ease;
	transform: translate3d(0, 0, 0) scale(1);

	&__logo {
		width: 80px;
		height: auto;
		margin-bottom: 15px;
	}

	&.has-search {
		margin-top: 25px;
	}

	&.animate {
		-webkit-animation-name: pulse;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-fill-mode: forwards;
	}

	&.is-loading {
		margin-top: 44vh;

		-webkit-animation-play-state: running;
		-webkit-animation-iteration-count: infinite;
	}
}

.page-content {
	flex: 5;
	overflow-y: auto;

	&.has-search {
		height: auto;
	}
}

.page-footer {
	flex: 1;
}

@-webkit-keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
}
