/**
 * PAGE
 * base/page.scss
 */

html {
    @include font();
    font-size: 62.5%;
    color: $c-text;
    
    height: 100%;

    overflow-y: scroll;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff url("../img/noisy-texture-100x100-o3-d10-c-ffffff-t0.png") center top;
    font-size: 1.4rem;

    height: 100%;
}

p {
    line-height: 1.3;
    word-break: break-word;
    
	margin-bottom: 1.2em;
}

a {
    text-decoration: none;
    color: $c-primary;

    &:hover {
        text-decoration: underline;
    }
}

code {
    background-color: #eee;

    display: inline-block;
    padding: 5px 10px;
    margin-top: 4px;

    overflow-x: auto;
}
