@charset "UTF-8";

/**
 * A11Y
 * trumps/a11y.scss
 */

.visuallyHidden {
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    position: absolute;
    overflow: hidden;

    clip: rect(0 0 0 0);
} 
