/**
 * TYPOGRAPHY
 * settings/typo.scss
 */

$base-font-size:    		14px;
$base-line-height:  		18px;

$base-spacing-unit: 		$base-line-height;
$half-spacing-unit: 		$base-spacing-unit / 2;
$line-height-ratio: 		$base-line-height / $base-font-size;

$f-primary: 				'Raleway', sans-serif;

$fz-h1: 					3.6rem;
$fz-h2: 					2rem;
$fz-h3: 					1.6rem;
$fz-h4: 					1.4rem;
$fz-h5: 					1.2rem;
$fz-h6: 					1rem;
